.gradle
/local.properties

.idea/workspace.xml
.idea/workspace.xml
.idea/tasks.xml
.idea/dataSources.ids
.idea/dataSources.xml
.idea/sqlDataSources.xml
.idea/dynamic.xml
*.ipr
*.iws
*.iml
out/

.DS_Store

*.apk
*.ap_
*.dex
*.class
bin/
gen/
.gradle/
build/