.gradle
/local.properties


# Android Studio file
.idea/compiler.xml
.idea/encodings.xml
.idea/gradle.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/libraries/*
.idea/copyright/*
.idea/dictionaries/*
.idea/.name
.idea/run
.idea/runConfigurations.xml
*.iml
out/

.DS_Store

*.apk
*.ap_
*.dex
*.class
bin/
gen/
.gradle/
build/
